
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription étudiant</title>
</head>
<body>
    <div>
        <h1>Inscription sur la plateforme JAYA - MIAGE</h1>
    </div>
    <div>
        <p>Bonjour {{lastName}} {{firstName}},</p>
        <p>
            Votre inscription Jaya a bien été prise en compte. Cependant, elle doit être vérifiée par 
            l'administration. Votre compte est donc inactif jusqu'à ce que la vérification soit faite.
            Vous recevrez un mail lorsque vous serez autorisé à vous connecter.
        </p>

        <footer>
            <p>La plateforme JAYA.</p>
            <p>Mail automatique, merci de ne pas y répondre.</p>
        </footer>
    </div>
</body>
</html>