<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription étudiant</title>
</head>
<body>
    <div>
        <h1>Compte validé sur JAYA - MIAGE</h1>
    </div>
    <div>
        <p>Bonjour,</p>
        <p>
            Ton inscription est validée, tu peux dès maintenant te connecter à JAYA.
        </p>

        <footer>
            <p>La plateforme JAYA.</p>
            <p>Mail automatique, merci de ne pas y répondre.</p>
        </footer>
    </div>
</body>
</html>